<configuration>

	<connectionStrings>
		<add name="SqlShopDB" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Shop;Integrated Security=True"/>
		<add name="AccessShopDB" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Shop.mdb"/>
	</connectionStrings>

</configuration>